[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

dj-database-url = "*"
flask = "*"
gunicorn = "*"
"psycopg2" = "*"
whitenoise = "*"
requests = "*"


[requires]

python_version = "3.6"
